@import "bulma/css/bulma.css";

/* Custom Bulma Variables */
:root {
  --bulma-primary-h: 213deg;
  --bulma-primary-s: 29%;
  --bulma-primary-l: 36%;
  --bulma-link-h: 212deg;
  --bulma-link-s: 23%;
  --bulma-link-l: 56%;
  --bulma-info-h: 75deg;
  --bulma-info-s: 6%;
  --bulma-info-l: 87%;
  --bulma-scheme-h: 212;
  --bulma-scheme-s: 50%;
}
